- model_class = Post
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %tbody
    - @posts.each do |post|
      %tr
        %td
          %img{ src: post.photo.thumb }
        %td= link_to post.id, post_path(post)
        %td= post.nickname
        %td= post.description
        %td= post.place
        %td= post.date
        %td=l post.created_at

- if signed_in?
  = link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary'
- else
  = link_to "sign in", new_session_path
