.page-header
  %h1= @post.user.name
.row-fluid
  .span4
    %p
      = image_tag @post.photo.thumb
    %p{ align: "justify" }
      = @post.description
  .span4
    .row-fluid
      = map @post.place
    .row-fluid
      = @post.user.phone

