.page-header
  %h1= @post.nickname
.row-fluid
  .span4
    %p
      = image_tag @post.photo.thumb
  .span4
    .row-fluid
      = @post.place
      %br
      = @post.description
    .row-fluid
      = @post.user.phone

