%head
  %title MasterHunter
  = stylesheet_link_tag    "bootstrap_and_overrides", media: "all"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .navbar-wrapper.navbar-margin-top.navbar-big-text.navbar-size
    .navbar.navbar-opacity-white
  .container
    = yield
